*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, skyblue, red, yellow);
  font-size: 16px;
}
.container{
  background: linear-gradient(90deg, rgba(198,191,94,1) 50%, rgba(160,88,161,1) 100%);
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
h2{
  font-size: 16px;
  font-weight: 900;
}
.name{
  animation: inside 5s linear 0s 3 alternate;
  position: relative;
}
.title{
  animation: inside2 5s linear 0s 3 alternate;
  position: relative;
}
.pra{
  text-align: center;
  margin-top: 10px;
}
#formy{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  height: 200px;
}
#formy input{
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  outline: none;
  align-self: center;
  width: 50%;
}
#formy .image{
  align-self: center;
  width: 50%;
  padding-left: 10px
}
#btn{
  border-radius: 10px;
  padding: 20px;
  background-color: #adadad;
  color: #fff;
  font-weight: 700;
}
#btn:hover{
  cursor: pointer;
}

marquee{
  margin: 10px;
}
@keyframes inside{
   0%   {color:red; left:-300px; top:-300px;} 
  20%  {color:grey; left:-200px; top:-200px;}
  40%  {color: purple; left:-100px; top:-100px;}
  60%  {color: blue; left:-50px; top:-50px;}
  80%  {color: green; left:0px; top:-50px;}
  100% {color: red; left:0px; top:0px;}
}

@keyframes inside2{
   0%   {color:red; right:-300px; top:-300px;}
  20%  {color:grey; right:-200px; top:-200px;}
  40%  {color: purple; right:-100px; top:-100px;}
  60%  {color: blue; right:-50px; top:-50px;}
  80%  {color: green; right:0px; top:-50px;}
  100% {color: red; right:0px; top:0px;}
}